.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  padding-left: 40px;
  padding-right: 65px;
  background: linear-gradient(120deg, #222, #666);
  width: 100vw;
  height: 8vh;
}

.logo {
  width: 100px;
}

.personCircle {
  width: 30px;
  height: 30px;
  color: #ccc;
}

.ConfigArea {
  width: 180px;
  height: 200px;
  background: #888;
  position: absolute;
  /*z-index: 100;*/
  margin-top: 40px;
  right: 0;
  margin-right: 20px;
  display: inline-block;
  border-radius: 10%;
  background: linear-gradient(120deg, #222, #666);
}

.ConfigAreaItem {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #ccc;
}

.ConfigAreaItem:hover {
  color: #d4af37;
}

.subContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  border-top: 1px solid #d4af37;
  background: linear-gradient(120deg, #222, #666);
  width: 100vw;
  height: 10vh;
}

.welcomeMessage {
  font-size: 26px;
  color: #ccc;
}

.balance {
  font-size: 22px;
  color: #ccc;
}

.caretDown {
  width: 12.5px;
  height: 12.5px;
  color: #d4af37;
  margin-bottom: 5px;
  margin-left: 5px;
}

.caretDown2 {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  color: #d4af37;
}

.balanceValue {
  margin-top: 10px;
  font-size: 18px;
  color: #d4af37;
}

.helpButton {
  position: fixed;
  width: 100px;
  height: 40px;
  bottom: 60px;
  right: 10px;
  background-color: #d4af37;
  color: #000;
  border-radius: 10%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.helpButton:hover {
  opacity: 0.9;
}
