.extrato-container{
    margin: 35px;
    margin: 0 auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1.extrato{
    color: #d4af37;
}

.table-title{
    font-size: 50px;
    padding: 0 50px;
}
.table-item{
    text-align: center;
    padding: 10px 0;
    border-bottom: 0.5px solid #e4e4e4;
}

